@import url("/themes/css/fonts.css");
html *:not(i) {
    font-family: "Nunito", sans-serif !important;
}
body, html {
    height: 100%;
    font-weight: 400;
}
.wrapper-admin-layout {
    min-width: 320px;
}
/*Все що з адміном*/
.admin-main-error {
    margin: auto;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.admin-main-error div div {
    margin-top: 50px;
}
.wrapper-admin-layout nav.main-header .nav-item a {
    font-weight: 700;
    font-size: 18px;
}
.wrapper-admin-layout nav.main-header .nav-item:not(:first-child) a {
}

/*Головний шаблон*/

.wrapper-layout {
    padding-top: 4rem;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    min-width: 320px;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

a {
    transition: all 0.3s ease;
}
.primary-color {
    color: rgb(112.520718,44.062154,249.437846) ;
}
.primary-color-bg {
    background-color: rgb(112.520718,44.062154,249.437846) ;
}
.primary-color-bg-hover:hover {
    background-color: rgb(112.520718,44.062154,249.437846) ;
}
.primary-color-hover:hover {
    color: rgb(112.520718,44.062154,249.437846) ;
}

.header-layout .navbar-brand {
    padding: 5px;
}
.header-layout .navbar-brand:hover {
    opacity: 0.7;
}
.header-layout .nav-link {
    font-weight: 700;
    padding: 10px;
    font-size: 18px;
    color: white;
    line-height: 120%;
    position: relative;
}

@media (min-width:768px) {
    .header-layout .nav-link:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 8%;
        width: 85%;
        background-color: #fff;
        opacity: 0;
        height: 2px;
        text-align: center;
        border-radius: 10px;
        transition: all 0.3s ease;
        transform: scale(0);
    }
    .header-layout .nav-link:hover:after {
        opacity: 0.7;
        transform: scale(1);
    }
}

.footer-logo {
    color: #333;
    font-size: 24px;
}

.footer-left-flex {
    column-gap: 15px;
}
.footer-logo-telegram:hover {
    color: #229ED9;
}
.footer-logo-instagram:hover {
    color: #f58229;
}
.footer-logo-facebook:hover {
    color: #3b5998;
}
footer ul {
    column-gap: 20px;
}
.header-layout .navbar-buttons {
    column-gap: 20px;
}
.header-layout .navbar-buttons a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    border: 3px solid #fff;
    background-color: #fff;
}
.dropdown-toggle::after {
    vertical-align: 0.1em !important;
}
.link-dark {
    color: black !important;
}
.header-layout .navbar-buttons a.link-triangle {
    font-size: 20px;
    color: black;
}
.header-layout .navbar-buttons a:not(.link-triangle):hover {
    color: white;
    border: 3px solid #fff;
    background-color: rgb(112.520718,44.062154,249.437846) !important;
}
.dropdown-item {
    color: rgb(112.520718,44.062154,249.437846);
}
.dropdown-item:not(:focus){
    color: rgb(112.520718,44.062154,249.437846);
}
.dropdown-item:focus{
    color: rgb(112.520718,44.062154,249.437846);
    background-color: transparent;
}
.dropdown-item:active{
    color: white !important;
    background-color: rgb(112.520718,44.062154,249.437846) !important;
}
.dropdown-item:hover{
    color: white;
    background-color: rgb(112.520718,44.062154,249.437846);
}
.header-layout .navbar-buttons > a:not(:disabled):not(:disabled):active {
    background-color: rgb(112.520718,44.062154,249.437846);
    border: 3px solid #fff;
    color: white;
}
.dropdown-item-flex {
    column-gap: 10px;
}
.btn-icon {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 0 10px;
}
.btn-icon i {
    font-size: 24px;
}
@media (max-width: 767px) {
    footer {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer > div:first-child {
        flex-direction: column;
    }
    footer > div:first-child a {
        margin: 0 0 10px 0 !important;
    }
}
/*Сторінка помилок*/
.main-error h1 {
    font-size: 50px;
    font-weight: 700;
}

.main-error .image-wrapper {
    position: relative;
}
.main-error img {
    width: 30%;
}
@media (min-width: 700px) {
    .main-error .image-wrapper:before {
        content: "...халепа";
        position: absolute;
        top: 0;
        right: 22%;
        font-size: 60px;
        font-weight: 700;
    }
}

@media (max-width: 1400px) {
    .main-error .image-wrapper:before {
        right: 13%;

    }
}
@media (max-width: 991px) {
    .main-error .image-wrapper:before {
        right: 0;

    }
    .main-error img {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .main-error .image-wrapper:before {
        right: -12%;

    }
}
/*Сторінка реєстрації */
.main-register, .main-login {
    display: flex;
    align-items: center;
}

.container-register h1, .container-login h1 {
    font-size: 50px;
    font-weight: 900;
}
.input-file {
    display: flex;
    flex-direction: column;
}
.container-register input[type="password"], .container-register input[type="text"], .container-register input[type="email"], .container-register label,
.container-login input[type="password"],  .container-login input[type="email"], .container-login label {
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
}
.container-register input[type="file"] {
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    width: 100%;
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
.container-register form, .container-login form {
    margin: 0 auto;
    max-width: 500px;
    row-gap: 15px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 50px -10px rgba(0,0,0,0.7);
}
.container-register form button:active{
    border-color: rgb(112.520718,44.062154,249.437846) !important;
    color: rgb(112.520718,44.062154,249.437846) !important;
}
.container-login form button:active{
    border-color: rgb(112.520718,44.062154,249.437846) !important;
    color: rgb(112.520718,44.062154,249.437846) !important;
}
.error-form-validation {
    cursor: help;
    padding-top: 3px;
    padding-left: 1rem;
    margin-bottom: -10px;
    color: red;
    font-weight: 700;
    font-size: 16px;
}

.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 2.3rem;
    padding-bottom: 0.75rem;

}
.main-register button, .main-login button[type="submit"] {
    border: 4px solid rgb(112.520718,44.062154,249.437846);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
}
.main-register button:hover, .main-login button[type="submit"]:hover {
    border: 4px solid rgb(112.520718,44.062154,249.437846);
    color: rgb(112.520718,44.062154,249.437846);
}

.input-file label {
    padding-left: 1rem;
    padding-top: 0;
}

.form-floating>.form-control {
    padding-left: 1rem;
    padding-right: 1rem;
}
.form-floating>label {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-login button[type="button"] {
    top: 50%;
    transform: translate(0, -50%);
}
